* {
    margin: 0px;
    padding: 0px;
}

/* navbar section styles */

.menu-container {
    background-color: #3f3131;
    color: #ffff;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
}

.logo {
    width: 100px;
    padding: 5px;
}

.menu-item {
    display: flex;
    list-style: none;
}

.item {
    font-size: 18px;
    margin-left: 17px;
    padding: 5px;
}

/* banner section styles */

.banner-comtainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 100vh; 
    
    /* background-image: url('./images/background.png'),linear-gradient(45deg,rgb(5, 5, 5), #2e2e2e); */
    background-image:linear-gradient(45deg, rgb(39, 26, 121), rgba(78, 53, 40, 0.699)),url('images/product-3.jpg');
    /* background-image: linear-gradient(92deg, rgba(0, 102, 255, 0.973), rgb(0 0 255 / 0%)),url('images/product-1.jpg'); */
    color: #ffff;
    background-position: center;
    background-size: cover;
}

.photo {
    width: 300px;
}

.title {
    font-size: 55px;
    font-weight: bold;
}

.description {
    font-size: 18px;
    margin-top: 15px;
}

.btn {
    background-color: red;
    border: none;
    margin-top: 20px;
    padding: 13px 20px;
    color: #ffff;
    border-radius: 3px;
}

/* about us section styles */

.about-us {
    text-align: center;
    padding: 25px 0px 15px;  
}

.about-us-container {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    margin-top: 20px;
}

/*  Our Service section styles */
.Service-container {
    color: #ffff;
    background-image: linear-gradient(92deg, rgba(15, 17, 20, 0.973), rgba(8, 8, 19, 0)),url('images/product-1.jpg');
    padding: 50px;
    
}

.box-container {
    display: flex;
    justify-content: space-around;

  
}

.box {
    background-color: black;
    /* color: #ffff; */
    width: 200px;
    height: 280px;
    text-align: center;
    padding: 15px;
    box-shadow: 4px 2px 105px rgb(212, 211, 211);
    border-radius: 5px;
}

.icon {
    width: 70px;

}
.box-btn{
    background-color: #1b0b0b;
}
.box-title{
padding: 10px;
}
/* footer section styles */

.footer-container{
    background-color: #1b0b0b;
    color: #ffff;
}